.detail .detail_item{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.detail .detail_item p{
    padding: 0;
    margin: 0 !important;
}

.detail .detail_item .detail_item_key {
    font-weight: 700;
    text-transform: capitalize;
}

.detail .detail_item .detail_item_dots {
    flex: 1;
    border-bottom: 2px dashed black;
}

.detail h1 {
    text-align: center;
}